*{  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    font-family: 'inter',sans-serif; 
    color: #fff;
}
:root {
  --text-color:#fff;
  --bg-color:#1b1f24;
  --second-bg-color:#22282f;
  --main-color :#13bbff;
  --other-color:#c3cad5; 
  --h1-font:4.5rem;
  --h2-font:2.9rem;
  --p-font:1rem; 
}
body{
    background: rgb(0, 0, 0);
}
/*navigation bar*/
 nav{
    z-index: 2;
    width: 100%;
    height: 65px;
    line-height: 65px;
    padding: 0px 70px;
    position: fixed;
    background-image: linear-gradient(#e67bab,#090302);
}
 nav .nav p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    letter-spacing: 1.5 px;
    cursor: pointer;
}
 nav ul{
    float: right;
}
 nav li{
    display: inline-block;
}
 nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 20px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    overflow: hidden;
    transition:  all 0.4s ease 0s;


}
 nav li:hover{
    background:linear-gradient(to bottom right,#ffffff,#6b163c); ;
    color: rgb(112, 28, 28);
    transition:  all 0.4s ease 0s;


}
 nav li:hover  a{
    color: rgb(66, 12, 47);
    text-shadow: 3px 3px 3px rgb(72, 13, 45);

}

/*home*/

.main-content
{
    display: flex;
    flex-basis: 50%;
    flex-direction: row;
    padding: 0 30px;
    margin-bottom: 100px;
   
}
.home-info{
    flex: 0 0 50%;
    max-width: 50%;
}
.main-content .home-img img{
 height: 400px;
 width:500px ;   
 border-radius: 20%;
 padding:20px 20px;
 flex: 0 0 50%;
 max-width: 50%;
 box-shadow: 10px 20px 30px rgb(224, 186, 192);
 position: relative;

}
.main-content .home-img img:hover{
   box-shadow: 10px 20px 30px rgb(189, 218, 215);
}
h1 .name{
    font-family: 'Clicker Script',cursive;
}
   
.home-Info p{
    margin: 20px 0;
    letter-spacing: 1.5px;
    padding: 2px;
    margin-bottom: 50px;
}
.typing {
    color: #e4b8cc;
}


.btn-section{
  display: flex;
  transition: all 0.5s ease;
}
.btn{
    font-weight: 800;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 10px;
    background:linear-gradient(to bottom right,rgb(215, 135, 148),rgb(78, 26, 26)) ;
    text-decoration: none;
    box-shadow: 10px 10px 20px pink;
    margin-right: 40px;
    transition: 0.8s;
    z-index: 1;
    position: relative;
    overflow:hidden;

}

a.btn::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom right, #f52aae, #157ebe);
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.9s;
}
a.btn:hover::before{
  width: 100%;
}
.downloadCv{
  background:transparent;
  border-color: #e67bab;
}
.btn:hover{
    box-shadow: 10px 10px 20px rgb(181, 225, 225);
    transform:scale(1.1);
  }
.social{
  margin: 15px;
  margin-top: 30px;
}
.social i{
  margin: 5px;
  transition: transform 0.5s ease;
  cursor: pointer;
}
.social i:hover{
  transform: scale(1.5) ;
}
.social a {
  margin: 10px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.social a img:hover {
  transform: scale(1.5);
  width: 17px;
  height: 17px;
}
 
.home-img::after{
    content :'';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid rgb(141, 67, 79) ;
    border-right: 10px solid rgb(141, 67, 79) ;
    right: 30px;;
    bottom: -5px;

}
  .home-img::before{
    content :'';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid rgb(141, 67, 79) ;
    border-right: 10px solid rgb(141, 67, 79) ;
    right: 150px;;
    top: 450px;

  }
      
/*skills section*/
.skills .break {
  position: relative;
 font-size: 30px;
 text-align: center;
 margin-bottom: 80px;

}
.skills .break h3{
  box-shadow: 10px 10px 30px pink;
  color: #e4b8cc;
  text-shadow: 10px 10px 10px rgb(170, 224, 235);
}
.type{
  font-size: 30px;
}
.skills{
  background:linear-gradient(black,rgb(77, 77, 77));

}
.skill-main{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2,1fr);
  padding-left: 30px;
  grid-row-gap:30px;
  grid-column-gap:50px;
}
.skill-bar{
  margin-bottom: 2.3rem;
}
.skill-main h3{
  text-align: center;
  font-size: 20px;
  margin-bottom: 2rem;
}
.skills-left .skill-bar .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.skills-left .skill-bar .bar{
  width: 100%;
  height: 10px;
  background-color: #090302;
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}
.skills-left .skill-bar span{
  width: 50%;
  height:100% ;
  position: absolute;
  left: 0;
  background: #6b1568;
  border-radius: 25px;
  box-shadow: 10px 10px 10px #de80b2;
}
.skills-left .skill-bar span:hover{
 
  box-shadow: 10px 10px 10px #f1c7ed;
  background: linear-gradient(to bottom right ,rgb(203, 65, 203),rgb(212, 174, 204));
}

.skills-left .skill-bar .bar .c {
  width: 91%;
  animation:c 2s;
}
.skills-left .skill-bar .bar .java {
  width: 70%;
  animation:java 3s;
}
.skills-left .skill-bar .bar .problem-solving {
  width: 91%;
  animation:problem-solving 4s;
}
.skills-left .skill-bar .bar .python {
  width: 60%;
  animation:python 5s;
}
.skills-left .skill-bar .bar .HTML {
  width: 91%;
  animation:HTML 6s;
}
.skills-left .skill-bar .bar .CSS {
  width: 60%;
  animation:CSS 7s;
}
.skills-left .skill-bar .bar .Script {
  width: 40%;
  animation:Script 8s;
}
.skills-left.skill-bar .bar .Algorithm {
  width: 90%;
  animation:algo 9s;
}
.skills-left .skill-bar .bar .Structure {
  width: 90%;
  animation:data 10s;
}
.skills-left .skill-bar .bar .Data-base {
  width: 70%;
  animation:data-base 11s;
}
.skills-left .skill-bar .bar .Network {
  width: 60%;
  animation:network 12s;
}
.skills-left .skill-bar .bar .Operating {
  width: 60%;
  animation:Operating 13s;
}
.skills-left .skill-bar .bar .High {
  width: 60%;
  animation:hpc 14s;
}
#tech,#soft{
  text-shadow: 3px 3px 3px rgb(255, 192, 253);
}
#tech:hover{
  text-shadow: 3px 3px 3px rgb(152, 191, 220);
}
#soft:hover{
  text-shadow: 3px 3px 3px rgb(192, 236, 255);
}

.soft{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.box{
  margin: 10px 0;
  flex:1 1 15rem;
  position: relative;
}
.circle{
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:2px solid white ;
}
.box .text{
  text-align: center;
  color: white;
  font-size: 1rem;
}
.box .text big{
  font:400;
  letter-spacing: 1px;
  position: absolute;
  left: 50%;
  top: 40%;
  transition: translate(-50%,-50%);
}
.box .text small{
  display: block;
  font-weight: 600;
  margin-top: 10px;
}
.circle{
  transition: all 0.5s ease;
}
.circle:hover{
  background: linear-gradient(to bottom right ,white,rgb(224, 129, 224));
}
/*contact*/
 .contact{
  width: 100%;
  text-align: center;

 }
 .contact .main-text h2{
font-size: 40px; }
 .contact form{
  max-width: 50rem;
  margin: 1rem auto ;
  margin-bottom: 3rem;

 }
 .contact form input{
  margin-bottom: 20px;
  padding: 20px;
 }
 .contact form input,.contact form textarea{
 width: 100%;
 color: white;
 background: linear-gradient(to bottom right ,white ,rgb(20, 0, 18));
 border: none;
 border-radius: 5px;
 padding: 0.7rem;



}

/*animations*/
@keyframes c{
  0%{
    width: 0%;
  }
  100%{
    width: 91%;
  }
}
@keyframes java{
  0%{
    width: 0%;
  }
  100%{
    width: 70%;
  }
}

@keyframes problem-solving{
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}
@keyframes python{
  0%{
    width: 0%;
  }
  100%{
    width: 60%;
  }
}

@keyframes HTML{
  0%{
    width: 0%;
  }
  100%{
    width: 91%;
  }
}
@keyframes CSS{
  0%{
    width: 0%;
  }
  100%{
    width: 60%;
  }
}


@keyframes Script{
  0%{
    width: 0%;
  }
  100%{
    width: 40%;
  }
}
@keyframes algo{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes data{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes data-base{
  0%{
    width: 0%;
  }
  100%{
    width: 70%;
  }
}

@keyframes network{
  0%{
    width: 0%;
  }
  100%{
    width: 70%;
  }
}
@keyframes Operating{
  0%{
    width: 0%;
  }
  100%{
    width: 60%;
  }
}
@keyframes hpc{
  0%{
    width: 0%;
  }
  100%{
    width: 60%;
  }
}


@keyframes glow{
  0%{
    background: #80257d;
    box-shadow: none;
  }
  100%
  {
    background: #965894;
    box-shadow: 10px 10px 10px pink ;
  }

}




